body{
    --font-family: "Rubik", sans-serif;
    font-family: var(--font-family);
 
}
*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
header{
    margin: auto;
    padding:  45px 0 0 0;  
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}   

.frame1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 95px;
    margin: auto;
    max-width: 1200px;
}
.logo{
    display: flex;
  justify-content: space-between; 
  align-items: center;  
   min-width: 149px;
height: 36px;
}
.laslesVpn{
    font-size: 20px;
    font-weight: 500;
}
.vpn{
    font-weight: 700;  
}
.textFrame1{
    font-weight: 400;
font-size: 16px;
color: #4f5665;
text-decoration: none;

}
.textFrame1_1{
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    color: #0b132a;
    min-width: 50px;
}
.textVerx{
    gap: 40px;
    display: flex;
    justify-content: space-between;

}
.sing_up{
    border: 1px solid #f53855;
border-radius: 50px;
width: 150px;
height: 45px;
font-weight: 600;
font-size: 16px;
color: #f53855;
cursor: pointer;
transition: background-color 0.8s ease , box-shadow 0.8s ease;
background-color: #fff;
 
}
.sisi{
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    min-width: 245px;
    
}
.frame2{
display: flex;
align-items: center;
margin: 0 auto;
justify-content: space-between;
max-width: 1200px;

}
.frame2_1{
    align-items: center; 
}
.getStarted{
    
    font-weight: 700;
font-size: 16px;
line-height: 156%;
color: #fff;
border-radius: 10px;
width: 250px;
height: 60px;
background: #f53838;
border-color: #f53838;
border-style: none;
cursor: pointer;
box-shadow: 0px 36px 30px -16px rgba(245, 56, 56, 0.35);

}

.frame2text{
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #4f5665;   
    padding-bottom: 50px;
}
.frame2textSpan{
    font-weight: 500 
}
.frame2text2{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    color: #0b132a;
    width: 555px;
    margin-bottom: 20px;
}
.frame2text2span{
    font-weight: 700;
}
.frame3{
    padding-top: 165px;

}
.block-shadow{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    box-shadow: 0px 42px 114px 0px rgba(13, 16, 37, 0.06);
    margin: auto;
    border-radius: 10px;
height: 189px;

padding-left: 90px;
padding-right: 90px;
}
.divider {
    width: 2px;                    
    height: 129px;                 
    background-color: #EEEFF2;     
    border-radius: 1px;           
    margin: 0 20px;               
}
.us{
    width: 144px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loc{
    width: 182px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.serv{
    width: 162px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textFrame3{
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    color: #0b132a;  
    margin: 0 ;
}
.textFrame3_1{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #4f5665;
    margin: 0 ;
}
.groupUs{
    width: 53px;
    height: 65px;
}
.groupLoc{
    width: 91px;
    height: 65px;
}
.groupServ{
    width: 71px;
    height: 65px;
}

/* страница 2  */

.frame4{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    gap: 170px;
    height: 720px;
    max-width: 1200px;
}

.block1{
    width: 427px;
    height: 180px;
    padding-bottom: 20px;
}
.text-block1{
    font-weight: 500;
font-size: 35px;
line-height: 143%;
color: #0b132a;
margin: auto;
}
.text-block1-1{
    font-weight: 400;
font-size: 16px;
line-height: 187%;
color: #4f5665;
}
.block2{


}
.text-block2{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
font-size: 14px;
line-height: 214%;
color: #4f5665;
}
.background{
    position: relative; 
    z-index: 1;
}
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #f8f8f8;
    z-index: -1;
}
.zagolovok{
    display: grid;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-top: 80px;  
    width: 555px; 
}
.plan-frame-1{
    border: 2px solid #ddd;
border-radius: 10px;
width: 330px;
height: 760px;
background: #fff;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 80px;
transition: border 0.3s ease
}
.plan{
    display: flex;
        margin: 0 auto;
        justify-content: space-between;
        gap: 50px;
        padding-top: 60px;
}
.plan-text-heading{
    font-weight: 500;
font-size: 18px;
line-height: 167%;
text-align: center;
color: #0b132a;
margin-top: 30px;
    margin-bottom: 25px;
}
.plan-text{

}
.text-block21{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
font-size: 14px;
line-height: 214%;
color: #4f5665;
margin :5px;   
}


.text-cont{
    display: flex;
    flex-direction: column;
}


.button-setting{
    display: flex; 
    margin-bottom: 50px;
}
.plan-frame-1:hover{
    border: 2px solid #f53838;
border-radius: 10px;

}
.plan-frame-1:hover button{
    background: #f53838;
    color: #fff;
    box-shadow:0px 24px 13px -16px rgba(245, 56, 56, 0.35);
}
.sell{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
    font-weight: 500;
font-size: 25px;
line-height: 120%;
text-align: center;
color: #0b132a;

}
.plan-frame-1 span{
    font-weight: 400;
color: #4f5665;
}
.svg-word{
    display: flex;
    margin: auto;
    padding-top: 155px;
    width: 100%;
}
.svg-sponsor{
  display: flex ;
   margin: auto;
   padding-top: 35px;
   width: 100%;
}
.full-width {
    width: 100%;
    background-color: #f8f8f8;
}


/* /* блок с свайпами *  */
.Comments{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .arrow_next{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .arrow_back{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .arrBsvg:hover path {
    fill: #fff;
  
  }
  
  .arrBsvg:hover circle {
    fill: #F53838;
  }
  
  
  .arrBsvg:active circle {
  
   
  }
  .arrBsvg:active path {
  
  }
  
  
  
  .buttonComments{
    width: 1200px;
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
  }
  
  .infoCardPhoto{
    border: 2px solid #ddd;
    border-radius: 10px;
    min-width: 380px;
    min-height: 230px;
    padding: 30px;
  }
  
  
  .UsersComm{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    padding-bottom: 10px;
  }
  
  .infoUsers{
    display: flex;
    align-items: center;
  
  }
  .geo{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .grade{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  
  .buttons{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .indetfic{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .cardCarouse{

  overflow: hidden;
  width: 1200px;
  
  }
  .cardCarouse-inner {
    display: flex;
    gap: 30px;
    transition: transform 0.9s ease; /* плавность */
    padding-top: 48px
  }
  
  .cardCarouse::-webkit-scrollbar {
    display: none; 
  }
  
  .infoCardPhoto.active {
    border: 2px solid #f53838; 
    border-radius: 10px; 
  }
  
  .identifier{
    border-radius: 100%;
    background-color: #dde0e4;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .identifier.active{
    background-color:  #f53838;
    width: 45px;
    height: 15px;
    border-radius: 15px;
  }
.text_comment{
    font-weight: 400;
font-size: 16px;
line-height:  187%;
color: #0b132a;
}

.subscribe{
    width: 1140px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    height: 233px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-block{
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #f8f8f8 50%, #f8f8f8 100%);
    padding: 65px 0;
}
.text-block-sub {
    font-weight: 500;
    font-size: 35px;
    line-height: 129%;
    color: #0b132a;
    padding-bottom: 10px;
}
.subscribe-now{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 410px;
height: 116px;
}
.footer {
    background: #f8f8f8;
    padding: 0px 20px 20px 60px;
    
    color: #4f5665;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    gap: 40px;
  }
  
  .footer-left {
    flex: 0 0 550px;
  }
  
  .footer-left .logo {
    width: 150px;
    margin-bottom: 16px;
  }
  
  .footer-left p {
    max-width: 320px;
    line-height: 187%;
  }
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
  }
  
  .footer-columns h4 {
    font-weight: bold;
    color: #0b132a;
    margin-bottom: 20px;
  }
  
  .footer-columns ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-columns li {
    margin-bottom: 20px;
    cursor: pointer;
  }
  .logo-with-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
  }
  
  .logo-icon {
    width: 24px;
    height: 24px;
  }
  
  .social-icons{
    padding-top: 30px
  }
  .footer-left .laslesVpn{
    color: #000;
  }
  .copyright{
    color: #afb5c0;
  }